<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container d-flex justify-content-center">
    <div class="w-50">
        <p class="h2 text-center">Add Picture</p>
        <form class="container" action='home.html' th:action method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="pictureName" class="form-label">그림명</label>
                <input class="form-control" type="text" id='pictureName' name="pictureName" placeholder="그림명 입력">
            </div>
            <div class="mb-3">
                <label for="data" class="form-label">이미지</label>
                <input type="file" id='data' name="data" class="form-control">
            </div>
            <button class="btn btn-primary" type="submit">등록</button>
            <button class="btn btn-primary" th:onclick="|location.href='@{/}'|" type="button">취소</button>
        </form>
    </div>
</div>
</body>
</html>