<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest-like Layout</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Title</title>
</head>
<body>
<h1 class="text-center">Gallery</h1>
<div class="container">
    <div class="row justify-content-end">
        <div class="col-auto">
            <button type="button" class="btn btn-success" th:onclick="|location.href='@{/gallery/add}'|">이미지 등록</button>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <!-- First Column -->
        <div class="col">
            <div th:each="picture, iterStat : ${pictures}" th:if="${iterStat.index % 2 == 0}">
                <a th:href="@{/gallery/picture/{id}(id = ${picture.id})}">
                    <img class="img-thumbnail" th:src="'data:image/jpeg;base64,' + ${picture.url}" alt="Image"/>
                </a>
            </div>
        </div>
        <!-- Second Column -->
        <div class="col">
            <div th:each="picture, iterStat : ${pictures}" th:if="${iterStat.index % 2 != 0}">
                <a th:href="@{/gallery/picture/{id}(id = ${picture.id})}">
                    <img class="img-thumbnail" th:src="'data:image/jpeg;base64,' + ${picture.url}" alt="Image"/>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>