<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>OnePicture</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div class="container d-flex justify-content-center">
    <div class="w-50 justify-content-center">
        <div class = "col justify-content-center">
            <img class="img-fluid img-thumbnail" th:src="'data:image/jpeg;base64,' + ${picture.url}" alt="Image"/>
        </div>
        <div class = "col">
            <p class="h2 text-center" th:text="${picture.pictureName}"></p>
        </div>
        <div class = "col">
            <button class="btn btn-primary" th:onclick="|location.href='@{/}'|" type="button">업데이트</button>
            <button class="btn btn-primary" th:onclick="|location.href='@{/}'|" type="button">돌아가기</button>
        </div>
    </div>
</div>
</body>
</html>